<div class="o-container">
    <footer class="c-footer">
        <div class="c-footer__inner">
            <div class="c-footer__part">
                {{ source('@snippets/svg/_logo.svg') }}
                <div class="c-footer__data">
                    <div class="c-footer__data-item">
                        <strong>EMAIL</strong><span>hello@aian.digital</span>
                    </div>
                    <div class="c-footer__data-item">
                        <strong>BTW</strong><span>NL003892249B24</span>
                    </div>
                    <div class="c-footer__data-item">
                        <strong>KVK</strong><span>83934685</span>
                    </div>
                </div>
            </div>
            <div class="c-footer__part">
                <span class="c-footer__title">Informatie</span>
                <ul class="c-footer__nav">
                    <li>
                        <a href="/ik-wil-een-app">Ik wil een app</a>
                    </li>
                    <li>
                        <a href="/ik-wil-een-website">Ik wil een website</a>
                    </li>
                    <li>
                        <a href="/kennismaken">Leer ons kennen</a>
                    </li>
                </ul>
            </div>
            <div class="c-footer__part">
                <span class="c-footer__title">Nieuwsgierig geworden?</span>
                <!-- <p>Laat je e-mail adres achter. We zullen zo spoedig mogelijk contact met je opnemen!</p> -->
                <p>Wil je meer weten? Neem gerust contact op.</p>
                <a class="c-btn c-btn--primary" href="/contact">Contact</a>
                <!-- <form action="" class="c-form">
                    <div class="c-form__submit-wrapper">
                        <input class="c-input" placeholder="Voer hier jou e-mail in..." type="text">
                        <button href="#" class="c-btn c-btn--primary c-form__submit" type="submit">
                            <span class="c-form__submit-text">Verstuur</span>
                            {{ source('@snippets/svg/_send.svg') }}
                        </button>
                    </div>
                </form> -->
            </div>
        </div>
    </footer>
</div>