<div class="c-header">
    <div class="o-container">
        <div class="c-header__inner">
            <div class="c-header__part">
                {{ source('@snippets/svg/_logo.svg') }}
            </div>
            <div class="c-header__part">
                <ul class="c-nav">
                    <li>
                        <a href="#">Apps</a>
                    </li>
                    <li>
                        <a href="#">Websites</a>
                    </li>
                    <li>
                        <a href="#">Even kennismaken</a>
                    </li>
                </ul>
            </div>
            <div class="c-header__part">
                <ul class="c-nav">
                    <li>
                        <a href="#">NL</a>
                    </li>
                    <li>
                        <a href="#">EN</a>
                    </li>
                    <li>
                        <a href="#" class="c-btn c-btn--primary">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
