<div class="js-letter-bg-wrapper">
    <div class="js-letter-bg">
        <div class="sentence-one">
            {% for i in 1..3 %}
                <span>Wij spreken duidelijke taal</span>
                <span>Cross-platform</span>
                <span>Wij nemen zorg uit handen</span>
            {% endfor %}
        </div>
        <div class="sentence-two">
            {% for i in 1..3 %}
                <span>Schaalbaar en flexibel</span>
                <span>Altijd up-to-date</span>
                <span>No cure no pay</span>
            {% endfor %}
        </div>
    </div>
</div>