<div class="c-item c-item--{{cols}}">
    <div class="c-item__inner">
        <span class="h4">
            <span class="c-title-icon">{{icon|raw}}</span>
            {{title}}
        </span>
        <div class="o-text-small">
            <p>{{text}}</p>
        </div>
    </div>
</div>  