{% extends "@snippets/content-blocks/_base-block.twig" %}

{% block content %}
    {% if open %}
        <div class="wrapping-container">
    {% endif %}

            <blockquote>
                <span>{{ block.content.text }}</span>
                {% if block.content.citation %}
                    <span class="content-block--quote__by">{{ block.content.citation }}</span>
                {% endif %}
            </blockquote>

    {% if close %}
        </div>
    {% endif %}
{% endblock %}