<div class="o-section">
    <div class="c-textgrid">
        <span class="c-textgrid__blob">{{ source('@snippets/svg/_yellow-blob.svg') }}</span>
        <span class="c-textgrid__blob">{{ source('@snippets/svg/_blue-blob.svg') }}</span>
        <div class="o-container">
            <div class="c-textgrid__inner">
                <div class="c-textgrid__item">
                    <h2 class="c-textgrid__title">Wat maakt ons uniek?</h2>    
                    <div class="c-textgrid__item__content">
                        <p>Bij Aian spreken wij duidelijke taal. We houden ervan om nergens omheen te draaien en zetten eerlijkheid altijd op één. Zo ontstaan er geen misverstanden en heb je altijd een tevreden gevoel.</p>
                        <a href="/contact" class="c-link-btn c-link-btn--alt">Leer ons kennen<span>&nbsp;{{ source('@snippets/svg/_arrow.svg') }}</span></a>
                    </div>
                </div>
                <div class="c-textgrid__item">
                    <h2 class="c-textgrid__title">Modernisatie, waarom eigenlijk?</h2>
                    <div class="c-textgrid__item__content">
                        <p>De technologie zit ontwikkelt zich al jaren met een snel tempo. Daarom is het belangrijk om ervoor te zorgen dat jouw app of website voldoet aan de huidige staat van de markt. Hier helpen wij je graag bij!</p>
                        <a href="/contact" class="c-link-btn">Start jouw project<span>&nbsp;{{ source('@snippets/svg/_arrow.svg') }}</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>