<div class="c-textgrid">
    <div class="c-textgrid__item">
        <h2 class="c-textgrid__title">Wat maakt ons uniek?</h2>    
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet ipsum adipiscing sem platea ut enim justo diam. Quam odio diam non consequat nunc platea. Morbi habitant imperdiet suspendisse fringilla quam.</p>
    </div>
    <div class="c-textgrid__item">
        <h2 class="c-textgrid__title">Modernisatie, waarom eigenlijk?</h2>
        <p>Molestie malesuada amet sit non id. Accumsan, quisque ut et pretium sollicitudin bibendum habitant. Nulla tincidunt donec nunc, duis urna morbi. Consectetur id cursus eget fermentum.</p>
    </div>
</div>