button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    appearance: none;
}

.c-btn {
    display: inline-flex;
    position: relative;
    align-items: center;
    margin-top: 20px;
    padding: 1.1em 1.5em;
    overflow: hidden;
    transition: color .15s $ease,background-color .15s $ease,border-color .15s $ease,box-shadow .15s $ease;
    border-radius: 54px;
    background-color: transparent;
    color: $primary;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    @media(min-width: $md) {
        margin-top: 30px;
        padding: 1.1em 2em;
        font-size: 18px;
    }
    &--primary {
        background-color: $primary;
        box-shadow: 0px 5px 30px rgba(54, 188, 255, 0.3);
        color: #fff;
        &:before {
            background: darken($primary, 15%);
        }
    }
    &--secondary {
        background-color: $secondary;
        box-shadow: 0px 5px 30px rgba(255, 203, 124, 0.6);
        color: #fff;
        &:before {
            background: darken($secondary, 10%);
        }
    }
    &--fixed {
        display: inline-block;
        text-align: center;
        @media(min-width: $md) {
            width: 230px;
            &+.c-btn--fixed {
                margin-left: 15px;
            }
        }
    }

    &__ink {
        display: block;
        position: absolute;
        animation: ripple-effect-reverse .45s;
        border-radius: 50%;
        background: rgba(0, 0, 0, .06);
        animation-fill-mode: forwards;
    }

    &__ink--active {
        animation: ripple-effect .5s;
        animation-fill-mode: forwards;
    }

    &__text {
        position: relative;
        z-index: 2;
    }
}

.c-link-btn {
    display: table;
    margin-top: 8px;
    color: $title;
    font-weight: bold;
    text-decoration: none;
    &--sub {
        margin-top: 0;
    }
    @media(min-width: $md) {
        margin-top: 10px;
        &--sub {
            margin-top: 0;
        }
    }
    &:hover {
        svg {
            transform: translateX(8px);
        }
    }
    span {
        white-space: nowrap;
    }
    svg {
        display: inline-block;
        margin-left: 0.4em;
        transition: 0.12s $ease;
        vertical-align: -0.1em;
    }
    &--alt {
        .svg-element {
            fill: $secondary;
        }
    }
}

@keyframes ripple-effect {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(2.5)
    }
}

@keyframes ripple-effect-reverse {
    0% {
        transform: scale(2.5)
    }

    100% {
        transform: scale(0)
    }
}



