.c-employees {
    position: relative;
    max-width: 1368px;
    padding: 0 20px;
    @media(min-width: $md) {
        margin-top: 188px;
        padding: 0 40px;
    }
}

.c-employee {
    &+.c-employee {
        margin-top: 100px;
        @media(min-width: $md) {
            margin-top: 200px;
        }
    }
    &__title {
        font-size: 25px;
        @media(min-width: $md) {
            font-size: 34px;
        }
    }
    @media(min-width: $md) {
        display: flex;
        max-width: 880px;
        &:nth-of-type(2) {
            max-width: 1120px;
        }
        &:nth-of-type(3) {
            max-width: 1165px;
        }
        &:nth-of-type(odd) {
            flex-direction: row-reverse;
            margin-left: auto;
            .c-employee__content {
                padding-right: 70px;
            }
        }
        &:nth-of-type(even) {
            .c-employee__content {
                padding-left: 70px;
            }
        }
    }
}

.c-employee__content {
    @media(min-width: $md) {
        flex: 1;
        .c-employee:nth-of-type(2) & {
            margin-top: 80px;
        }
        .c-employee:nth-of-type(3) & {
            margin-top: 120px;
        }
    }
}


.c-employee__media {
    position: relative;
    width: 400px;
    &:first-of-type {
        @media(min-width: $md) {
            top: -46px;
            left: -9px;
        }
    }
    .c-employee:nth-of-type(2) & {
        width: 550px;
    }
    .c-employee:nth-of-type(3) & {
        width: 610px;
    }
    svg {
        width: 100%;
    }
    @media(max-width: $md-max) {
        svg {
            width: 80%;
        }
    }
}

.c-employee-line {
    position: absolute;
    top: -397px;
    left: 166px;
}