.c-faq {
    max-width: 700px;
    margin: 50px auto 0;
    line-height: 1.6;
    @media(min-width: $md) {
        margin: 70px auto 0;
    }
}

.c-faq__item {
    padding: 0 0 24px;
    @media(min-width: $md) {
        padding: 0 0 32px;
    }
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        margin-top: 24px;
        opacity: 0.15;
        background-color: #011C27;
        @media(min-width: $md) {
            margin-top: 30px;
        }
    }
}

.c-faq__content {
    display: none;
}

.c-faq__trigger {
    display: block;
    position: relative;
    margin-bottom: 0.5em;
    padding-right: 65px;
    font-weight: bold;
    cursor: pointer;
    svg {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    .svg-element, .svg-element-2 {
        transition: 0.12s $ease;
    }
    &:hover {
        .svg-element {
            stroke: $secondary;
        }
        .svg-element-2 {
            fill: $secondary;
        }
    }
    &.is-active {
        .svg-element-3 {
            opacity: 0;
        }
    }
}