.c-header {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    @media(min-width: $md) {
        position: absolute;
        top: 30px;
    }
    &__inner {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        padding: 20px 0;
        text-align: center;
        pointer-events: none;
        .nav-open & {
            pointer-events: all;
        }
        @media(min-width: $md) {
            display: flex;
            position: relative;
            position: relative;
            flex-direction: row;
            align-items: center;
            height: auto;
            padding: 0;
            text-align: left;
            pointer-events: all;
        }
    }
    &__part {
        &:first-of-type {
            position: absolute;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            @media(min-width: $md) {
                position: relative;
                top: 0;
                left: 0;
                transform: none;
            }
        }
        &:nth-of-type(2) {
            padding-top: 60px;
            @media(min-width: $md) {
                padding-top: 0;
            }
        }
        @media(min-width: $md) {
            flex: 1;
            &:last-of-type {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}

.c-nav {
    padding: 0;
    list-style: none;
    a {
        transition: 0.12s $ease;
        color: $title;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
        
        &.is-active {
            &:not(.c-btn) {
                color: $primary;
            }
        }
        &.is-active-alt {
            &:not(.c-btn) {
                color: $secondary;
            }
        }

        @media(min-width: $md) {
            font-size: 18px;
            &:hover {
                &:not(.c-btn) {
                    color: $primary;
                }
                &.c-nav-meta {
                    opacity: 1;
                    color: $title;
                }
            }
        }
    }
    li {
        margin: 10px 0px;
        @media(min-width: $md) {
            margin: 0 18px;
            &.c-nav-meta-item {
                margin: 0 5px;
            }
            &.c-nav-item-alt {
                margin-right: 0;
            }
        }
    }
    .c-btn {
        padding: 1em 2.5em;
        color: #fff;
        font-size: 16px;
        .bg-alt & {
            background-color: $secondary;
            box-shadow: 0px 5px 30px rgba(255, 203, 124, 0.6);
        }
    }
    @media(max-width: $md-max) {
        .c-btn {
            font-size: 16px;
        }
    }
    @media(min-width: $md) {
        display: flex;
        align-items: center;
        .c-btn {
            margin: 0;
            margin-left: 20px;
        }
    }
}

.c-nav-meta {
    opacity: 0.4;
    font-size: 15px !important;
    &.is-active {
        opacity: 1;
    }
    @media(max-width: $md-max) {
        font-size: 20px !important;
    }
}

.c-header__inner-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    background-color: #fff;
}

.c-header__mobile {
    display: flex;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px;
    @media(min-width: $md) {
        display: none;
        padding: 0 40px;
    }
}

.c-header__mobile-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ECF7FF;
    box-shadow: -10px -10px 40px #FFFFFF, 10px 10px 30px #CDEAFF;
}

.js-nav-clip {
    @media(max-width: $md-max) {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        transform: translateY(25px);
    }
}