.c-hero {
    position: relative;
    @media(min-width: $md) {
        display: flex;
    }
}

.c-hero__col {
    &:last-of-type {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        @media(min-width: $md) {
            display: block;
            position: relative;
        }
    }
    @media(min-width: $md) {
        width: 50%;
        &:first-of-type {
            align-self: center;
        }
    }
}

.c-mock {
    margin-bottom: -20%;
    svg {
        width: 100%;
    }
}