.c-hero {
    position: relative;
    @media(min-width: $md) {
        display: flex;
        &--alt {
            padding-top: 130px;
        }
    }
}

.c-hero__col {
    &--compact {
        max-width: 600px;
    }
    &:last-of-type:not(:first-of-type) {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        @media(min-width: $md) {
            display: block;
            position: relative;
        }
    }
    @media(min-width: $md) {
        width: 50%;
        &:first-of-type {
            align-self: center;
        }
    }
}

.c-mock {
    margin-bottom: -20%;
    transform: translateX(20%);
    opacity: 0;
    &--alt {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: -20vw;
    }
    svg {
        
        width: 100%;
    }
}