.c-hero {
    position: relative;
    @media(min-width: $md) {
        display: flex;
    }
}

.c-hero__col {
    &:last-of-type {
        position: absolute;
        top: 0;
        right: 0;
        @media(min-width: $md) {
            position: relative;
        }
    }
    @media(min-width: $md) {
        width: 50%;
    }
}

.c-mock {
    svg {
        width: 100%;
    }
}