.c-items {
    margin: -25px;
    @media(min-width: $md) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.c-item {
    padding: 25px;
    &__inner {
        height: 100%;
        padding: 30px 30px;
        border-radius: 15px;
        background-color: #fff;
        box-shadow: 0px 10px 40px rgba(197, 231, 255, 0.4);
        .bg-alt & {
            box-shadow: 0px 10px 40px rgba(255, 224, 177, 0.4);
        }
    }
    @media(min-width: $md) {
        &--3 {
            width: 33.3333%;
        }
    }
}