.o-container {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
    @media(min-width: $md) {
        max-width: 1380px;
        padding: 0 40px;
    }
}

.o-section {
    margin: 40px 0;
    @media(min-width: $md) {
        margin: 130px 0;
    }
}

p:first-of-type {
    margin-top: 0;
}