.js-letter-bg {
   transform: translateX(-10%);
    opacity: 0.08;
    > div {
        display: flex;
        width: 100%;
        font-size: 35px;
        font-weight: bold;
        white-space: nowrap;
        @media(min-width: $md) {
            font-size: 57px;
        }
        span { 
            margin: 0.3em 0.5em; 
            &:nth-of-type(odd) {
                opacity: 0.7;
            }
        }
    }
}

.js-letter-bg-wrapper {
    overflow: hidden;
}