@import './typography';
@import './vars';
@import './utilities';
@import './layout';
@import './buttons';
@import './title';
@import './cols';
@import './hero';
@import './header';
@import './footer';
@import './letter-bg';
@import './textgrid';
@import './form';
@import './item';
@import './switch';
@import './faq';

*, *:before, *:after {
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    margin: 0;
    padding: 100px 0 0 0;
    background: linear-gradient(180deg, #ECF7FF 0%, rgba(236, 247, 255, 0.5) 50.52%, rgba(236, 247, 255, 0) 100%);
    color: $body;
    // SASS namespacing example
    font-family: $fontFamily;
    line-height: 2.2em;
    @media(min-width: $md) {
        padding-top: 40px;
        font-size: 20px;
    }
}

h1,h2,h3,h4,h5,h6 {
    display: block;
    margin-top: 0;
    color: $title;
    font-family: $fontFamilyAlt;
    font-weight: bold;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 35px;
    @media(min-width: $md) {
        font-size: 54px;
    }
}

h2, .h2 {
    margin-bottom: 0.55em;
    font-size: 24px;
    @media(min-width: $md) {
        font-size: 46px;
    }
}

h4, .h4 {
    color: $title;
    font-size: 18px;
    font-weight: bold;
    @media(min-width: $md) {
        font-size: 20px;
    }
}