.c-packs {
    margin: -25px;
    @media(min-width: $md) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.c-pack {
    padding: 25px;
    &__inner {
        height: 100%;
        padding: 30px 30px;
        border-radius: 15px;
        background-color: #fff;
        box-shadow: 0px 10px 40px rgba(197, 231, 255, 0.4);
        @media(min-width: $md) {
            padding: 60px 50px;
        }
    }
    &__title {
        margin-bottom: 1.3em;
        text-align: center;
        @media(min-width: $md) {
            font-size: 30px;
        }
    }
    @media(min-width: $md) {
       width: 33.3333%;
    }
}

.c-pack__list {
    padding: 0;
    font-size: 18px;
    list-style: none;
    li {
        position: relative;
        padding-left: 1.6em;
        line-height: 1.55;
        &+li {
            margin-top: 16px;
        }
        svg {
            position: absolute;
            top: 0.2em;
            left: 0;
        }
    }
}