.c-textgrid {
    @media(min-width: $md) {
        display: flex;
        margin: 0 -55px;
        &__item {
            width: 50%;
            padding: 0 55px;
            &:last-of-type {
                margin-top: 150px;
            }
        }
    }
}

.c-textgrid__item__content {
    padding-left: 25px;
    @media(min-width: $md) {
        padding-left: 50px;
    }
}