.js-title {
    overflow: hidden;
}

.js-title-parts {
    position: relative;
    overflow: hidden;
}

.js-title-part {
    display: inline-block;
    position: absolute;
    transform: translateY(100%);
    &:last-of-type {
        transform: translateY(0%);
    }
}

