@font-face {
    font-family: 'Eudoxus';
    font-style: normal;
    font-weight: bold;
    src: url('./fonts/EudoxusSans-Bold.woff2') format('woff2'),
        url('./fonts/EudoxusSans-Bold.woff') format('woff');
}