.accessibility {
    position: absolute !important; width: 1px;
    height: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.u-primary {
    color: $primary;
}
.u-secondary {
    color: $secondary;
}

.u-hidden {
    overflow: hidden;
}

.u-center {
    text-align: center;
}