{% extends 'layouts/master.twig' %}

{# 
    Use the bodyClass block to add an additional class to <body> for this template 
#}
{% block bodyClass 'white' %}

{% block content %}
    <div class="o-container">
        <div class="c-hero c-hero--alt">
            <div class="c-hero__col c-hero__col--compact">
                <h1 class="h1">Contact</h2>
                <div class="o-default">
                    <p>Aangenaam kennis te maken. App in a Night, of makkelijker gezegd “aian”, is opgezet door drie jonge ondernemers met een passie voor het creëren van creatieve projecten. Wij zijn gespecialiseerd in het ontwerpen en ontwikkelen van apps en websites.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}