{% extends 'layouts/master.twig' %}

{# 
    Use the bodyClass block to add an additional class to <body> for this template 
#}
{% block bodyClass 'white' %}

{% block ogTitle %}Aian – Contact{% endblock %}
{% block title %}Aian – Contact{% endblock %}

{% block content %}
    <div class="o-container">
        <div class="c-hero c-hero--alt">
            <div class="c-hero__col c-hero__col--compact">
                <h1 class="h1">Contact</h2>
                <div class="o-default">
                    <p>Bruis je van de ideëen en wil je deze graag laten realiseren? Neem dan vrijblijvend contact met ons op, we helpen je hier graag mee verder! <a href="mailto:hello@aian.digital">hello@aian.digital</a></p>
                </div>
                <a class="c-btn c-btn--primary" href="mailto:hello@aian.digital">Stuur ons een bericht</a>
            </div>
        </div>
    </div>
{% endblock %}