{% extends 'layouts/master.twig' %}

{% block content %}
    <section class="error-page">
        <div class="container">
            <span class="status-code">Error code: 404</span>
            <h1>Whoopsie</h1>
            <p>Sorry, we kunnen deze pagina helaas niet vinden.</p>
            <a href="/">Ga naar de home pagina</a>
        </div>
    </section>
{% endblock %}