{% extends 'layouts/master.twig' %}

{# 
    Use the bodyClass block to add an additional class to <body> for this template 
#}
{% block bodyClass 'additional-class' %}

{% block content %}
    <div class="o-container">
        <h1 class="accessibility">Aian – Websites en Apps tegen een eerlijke prijs</h1>
        <h2 class="h1">Wij creëren apps tegen een eerlijke prijs.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, optio aliquid? Corrupti architecto ad, consequatur voluptatibus perferendis pariatur perspiciatis quas!</p>
    </div>
{% endblock %}
