{% extends 'layouts/master.twig' %}

{# 
    Use the bodyClass block to add an additional class to <body> for this template 
#}
{% block bodyClass 'additional-class' %}

{% block content %}

    <h2>Hello World from the home template</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, optio aliquid? Corrupti architecto ad, consequatur voluptatibus perferendis pariatur perspiciatis quas!</p>
{% endblock %}
