{% extends 'layouts/master.twig' %}

{# 
    Use the bodyClass block to add an additional class to <body> for this template 
#}
{% block bodyClass 'white' %}
{% block ogTitle %}Aian – Kennismaken{% endblock %}
{% block title %}Aian – Kennismaken{% endblock %}

{% block content %}
<div class="u-hidden">
    <div class="o-container">
        <div class="c-hero c-hero--alt">
            <div class="c-hero__col c-hero__col--compact">
                <h1 class="h1">Aangenaam kennis te maken.</h2>
                <div class="o-default">
                    <p>Het is allemaal begonnen met drie jonge ondernemers met een passie voor het creëren van creatieve projecten. Na een aantal jaren ervaring in deze branche hebben we “aian” opgezet om jou en vele andere klanten te helpen bij het ontwerpen en ontwikkelen van websites en apps.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="o-section">
        <div class="c-employees">
            <img class="c-employee-line" src="/assets/images/line.svg" alt="">
            <div class="c-employee">
                <div class="c-employee__media">
                    {{ source('@snippets/svg/lars.svg') }}
                </div>
                <div class="c-employee__content">
                    <h2 class="c-employee__title">Digitale Picasso</h2>
                    <p>Met zijn creatieve hersenspinsels zet hij op basis van jouw wensen prachtige ontwerpen op het canvas.</p>
                </div>
            </div>
            <div class="c-employee">
                <div class="c-employee__media">
                    {{ source('@snippets/svg/bart.svg') }}
                </div>
                <div class="c-employee__content">
                    <h2 class="c-employee__title">Technische Tovenaar</h2>
                    <p>Een ware goeroe op het gebied van technische oplossingen. Op een magische wijze realiseert en optimaliseert hij de meest complexe projecten.</p>
                </div>
            </div>
            <div class="c-employee">
                <div class="c-employee__media">
                    {{ source('@snippets/svg/tom.svg') }}
                </div>
                <div class="c-employee__content">
                    <h2 class="c-employee__title">The Numbers Man</h2>
                    <p>Zorgt ervoor dat al onze interne zaken soepeltjes verlopen. Ook zorgt hij ervoor dat het contact tijdens maar ook na het project soepel verloopt.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}